<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h1>
    Dice Rolled to : <%= num %>
    <% if(num==6) { %>
        <h2>Nice! You got a six </h2>
        <%}%>
     </h1>
</body>
</html>