<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
</head>
<body>
    <h2>Here are the details of the post : </h2>
    <br>
    <br>
    <h4> Id : <%=post.id%></h4>
     <br>
    <br>
    <h4> Username : @<%=post.username%></h4>
     <br>
    <br>
    <h4> Content : <%=post.content%></h4>

    <br><br>
        <a href="http://localhost:8080/posts/<%=post.id%>/edit" >Edit</a>
    
</body>
</html>